/*NEW CSS FEATIURES ADDED: 
1. Purple box, 
2. changed h2 color, 
3. added round boarder to image */
@import url("https://fonts.googleapis.com/css2?family=Delius&family=Poetsen+One&display=swap");

body {
  background-image: url("https://cdn.mos.cms.futurecdn.net/HuGGeENt6kGyixe3hT9tnY.jpg");
  text-align: center;
  margin: auto;
  font-family: "Poetsen One", serif;
}

h1 {
  font-size: 30px;
  color: white;
  background-color: purple;
  padding: 10px;
  border: 3px solid white;
  border-radius: 50px; /* Rounds the corner */
  width: 200px;
  margin:auto
}
h2 {
  font-size: 30px;
  color: white;
}

.magic-8-ball {
  border: 5px solid white;
  border-radius: 50%;
}

#myCanvas {
  background-size: 600px 400px;
  border-radius: 30px;
  border: 5px solid white;
}
